* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    transition: 0.1s;
    z-index: 10000;
  }
  
  nav.sticky {
    padding: 5px 100px;
    height: 100px;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
  }
  
  nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  nav ul li a:hover {
    color: grey;
    transition: 0.3s;
  }
  
  .menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform:translate(-50%, 0);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 50px;
    z-index: 10000;
  }
  
  .menu-button {
    border: none;
    background: none;
      cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  .dropdown.active > .menu-button, 
  .menu-button:hover {
    color: grey;
    transition: 0.3s;
  }
  
  .dropdown-content {
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    text-align: center;
    left: 50%;
    top: calc(100% + .6rem);
    border: 2px solid rgba(255, 255, 255, .2);
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -5px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 10000;
  }
  
  .dropdown.active > .menu-button + .dropdown-menu {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
    z-index: 1001;
  } 
  
  .dropdown-menu, .menu { 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(1, max-content);
  }

#page1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

p {
    font-size: 20px;
    position: absolute;
    width: 50vw;
    text-align: center;
}