* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(52, 52, 52);
}

html::-webkit-scrollbar-track {
  background-color: rgb(87, 87, 87);
}

.mainPage {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url(img/eminemogo.png);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  transition: 0.1s;
  z-index: 10000;
}

nav.sticky {
  padding: 5px 100px;
  height: 100px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 40px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

nav ul li a:hover {
  color: grey;
  transition: 0.3s;
}

.menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform:translate(-50%, 0);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50px;
  z-index: 10000;
}

.menu-button {
  border: none;
  background: none;
	cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.dropdown.active > .menu-button, 
.menu-button:hover {
  color: grey;
  transition: 0.3s;
}

.dropdown-content {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  text-align: center;
  left: 50%;
  top: calc(100% + .6rem);
  border: 2px solid rgba(255, 255, 255, .2);
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -5px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 10000;
}

.dropdown.active > .menu-button + .dropdown-menu {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
  z-index: 1001;
} 

.dropdown-menu, .menu { 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
}

.center {
  text-align: center;
}

.splash {
  display: inline;
  position: relative;
  top: 23vh;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 500px;
  width: 500px;
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.name{
  color: white;
  font-size: 40px;
  position: relative;
  top: 25vh;
  z-index: 1000;
}

.name a:hover {
  text-decoration: underline;
}

.date {
  color: rgb(120, 120, 120);
  font-size: 25px;
  position: relative;
  top: 25vh;
  z-index: 1000;
}

.date a:active {
  color: rgb(170, 170, 170);
  background-color: transparent;
} 

.date a:link {
  color: rgb(170, 170, 170);
  background-color: transparent;
}

.date a:visited {
  color: rgb(170, 170, 170);
  background-color: transparent;
}

.date a:hover {
  text-decoration: underline;
}

.date2 {
  color: rgb(60, 60, 60);
  font-size: 25px;
  position: relative;
  top: 25vh;
  font-weight: bolder;
  z-index: 1000;
}

.date2 a:active {
  color: rgb(60, 60, 60);
  background-color: transparent;
} 

.date2 a:link {
  color: rgb(60, 60, 60);
  background-color: transparent;
}

.date2 a:visited {
  color: rgb(60, 60, 60);
  background-color: transparent;
}

.date2 a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
  background-color: transparent;
}

a:visited {
  color: white;
  background-color: transparent;
}

.move-image {
  position: relative;
  box-shadow: -10px 10px 150px black;
  width: 500px;
  height: 500px;
  z-index: 5;
  transition: transform 0.3s;
}

.moveImage {
  transform: translateX(-100px);
}

.move-vinyl {
  transition: transform 0.3s;
}

.moveVinyl {
  transform: translateX(100px);
}

.image1 {
  position: absolute;
  height: 500px;
  z-index:2;
}

.image2 {
  position: relative;
  height: 500px;
  z-index: 1;
}

.album {
  height: 110vh;
  width: 100%;
  background-size: cover;    
  background-position: center;
}

#infinite {
  background-image: url("bg-img/infinite-bg.png"); /*18 18 18*/
}
  
#slimshady {
    background-image: url("bg-img/slim1-bg.png"); /*44 41 68*/
}
  
#mm {
    background-image: url("bg-img/mm1-bg.png"); /*64 57 54*/
}
  
#emshow {
    background-image: url("bg-img/em-show-bg.png"); /*#360908*/
}
  
#encore {
    background-image: url("bg-img/encore-bg.png"); /*14, 26, 48*/
}
  
#relapse {
  background-image: url("bg-img/relapse-bg.png"); /*66, 21, 21*/
}
  
#recovery {
  background-image: url("bg-img/recovery-bg.png"); /*128, 142, 156*/
}
  
#mm2 {
  background-image: url("bg-img/mm2-bg.png"); /*118, 109, 102*/
}
  
#revival {
  background-image: url("bg-img/revival-bg.png"); /*53, 31, 41*/
}
  
#kamikaze {
  background-image: url("bg-img/kamikaze-bg.png"); /*167, 160, 142*/
}
  
#mtbmb {
  background-image: url("bg-img/mtbmb-bg.png"); /*93, 13, 28*/
}

#about {
  background-image: url("bg-img/about-bg.png"); /*29, 29, 29*/
  display: flex;
  align-items: center;
}

.about-font {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

#about p {
  position: relative;
  text-align: justify;
  left: 300px;
  width: 80vh;
  z-index: 2;
}

.emPhoto {
  position: relative;
  left: 150px;
  color: gradient();
  z-index: 1;
}

#square {
  position: absolute;
  height: 33vh;
  width: 5px;
  left: 273px;
  background-color: pink;
  z-index: 5;
}

#seeMoreButton {
  font-size: 20px;
  position: relative;
  left: -58vw;
  top: 20vh;
  color:white;
  border: none;
  background-color: transparent;
}

#seeMoreButton:hover span{
  display: none;
}

#seeMoreButton:hover:before {
  content: 'See more';
  text-decoration: underline;
  cursor: pointer;
  
}

#seeMoreButton:hover:after {
  content: ' >';
  cursor: pointer;
}

#contactPage {
  height: 30vh;
  background-color: black;
  text-align: center;
  position: relative;
}

#contact {
  padding-top: 20px;
}

.social-menu ul {
  position: relative;
  top: 60px;
  justify-content: center;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: .2s;
  color: #000;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  transition: .2s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu span:hover i{
  color: #fff;
}

.social-menu ul li a:hover {
  transform: translateY(-10px);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #E4405F;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #CD201F;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #1DB954;
}

#copyright {
  position: absolute;
  color: white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

::-moz-selection {
  color: white;
  background: rgb(66, 66, 66);
}

::selection {
  color: white;
  background: rgb(66, 66, 66);
}